{% extends "groups/group_base.html" %}

{% block pregroup %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2  style="color:#bf2225">
			Welcome back
			<a href="{% url 'posts:for_user' username=user.username %}"><br> <br>{{user.username}}</a>
		</h2>

    {% endif %}
			<h1 class="grp" style="color:#bf2225" ><strong>Groups</strong></h1>

			<p style="color:#bf2225" >Welcome to the Groups Page! <br> Select a Group with a shared interest! <br> <br></p>
	</div>
	{% if user.is_authenticated %}
	<a href="{% url 'groups:create' %}" class="btn btn-md btn-fill btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Create New Group!</a>
	{% endif %}
</div>
{% endblock %}

{% block group_content %}
<div class="col-md-6">
	<div class="list-group">
		{% for group in object_list %}
		  <a class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
			     <h3 style="color:#bf2225" class="title list-group-item-heading"><strong>{{ group.name }}</strong></h3>
			<div class="list-group-item-text container-fluid">
				{{ group.description_html|safe }}
				<div class="row">
					<div class="col-md-4">
						<span class="badge">{{ group.members.count }}</span>  MEMBERS
					</div>
					<div class="col-md-4">
						<span class="badge">{{ group.posts.count }}</span>  POSTS
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
