{% extends "groups/group_base.html" %}

{% block pregroup %}

<div class="container">

	<div class="col-md-4">
		{% if user.is_authenticated %}
		<h2 style="color:#6A097D" >
			<strong>Welcome Back</strong> <br>
			<a style="color:#f1d4d4" href="{% url 'posts:for_user' username=user.username %}">@{{user.username }}</a>
		</h2>
		{% endif %}
	</div>

	<div class="col-md-4">
		<h2 style="color:#6A097D"><strong>Groups</strong></strong></h2>
		<p style="color:#f1d4d4">Welcome to the Groups Page! Select a Group with a shared interest!</p>
	</div>

	<div class="col-md-4">
		<br><br>
			<a style="background:#6A097D" id="btn" href="{% url 'groups:create' %}" class="btn btn-md btn-fill btn"><span class="glyphicon glyphicon-plus-sign"></span> Create New Group!</a>
	</div>
</div>
{% endblock %}
{% block group_content %}
<div class="col-md-1"></div>
<div class="col-md-6" >
	<div class="list-group">
		{% for group in object_list %}
		<br>
		  <a  style="background:#f1d4d4" class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
			     <h3 class="title list-group-item-heading"><strong>{{ group.name }}</strong></h3>
			<div class="list-group-item-text container-fluid">
		     <strong>{{ group.description_html|safe }} </strong>
				<div class="row">
					<div class="col-md-4">
						<span class="badge">{{ group.members.count }}</span> <strong>MEMBER{{group.members.count|pluralize }}</strong>
					</div>
					<div class="col-md-4">
						<span class="badge">{{ group.posts.count }}</span> <strong>POST{{group.posts.count|pluralize }}</strong>
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
